




<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>POS</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "POS")"><i class="fa fa-caret-right"></i>Transaksi POS</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>INVENTORY</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "PO")"><i class="fa fa-caret-right"></i>Pembelian Barang</a></li>

        
    </ul>
</li>

