@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="jumbotron">
    <h2>
        &nbsp; Selamat Datang

        @{
            if (Session["UserName"] != null)
            {
                <text>@Session["Fullname"].ToString().ToUpper() </text>
            }
        }
        di Aplikasi Web toBiWos
    </h2>
    <p class="lead">&nbsp;Aplikasi terintegrasi POS , Inventory , Keuangan dan Akuntansi </p>
    
    <div style="margin: auto; width: 30%; padding: 10px; ">
        <img src="~/Images/logo_laundry.jpeg" />
    </div>

</div>



