@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="jumbotron">
    <h2>
        &nbsp; Selamat Datang

        @{
            if (Session["UserName"] != null)
            {
                <text>@Session["Fullname"].ToString().ToUpper() </text>
            }
        }
        di LanSa System
    </h2>
    <p class="lead">&nbsp;&nbsp;Aplikasi terintegrasi: POS, Inventory, Keuangan, Akuntansi, dan Payroll </p>

    <div style="margin: auto; width: 30%; padding: 10px; ">
        <img src="~/Images/logo_laundry.jpeg" />
        <br />
        <br />
        <br />
        <br />
        <br />

        &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;POS
        <section class="content">
            <div class="card">
                <div class="card-body">
                    <img src="~/Images/dollar_laundry.png" style="width:50px;height:50px" />
                </div>
            </div>
        </section>
    </div>
</div>



