@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="jumbotron">
    <h1>Selamat Datang Di Aplikasi Web toBiWos </h1>
    <p class="lead">Aplikasi terintegrasi POS , Inventory , Keuangan dan Akuntansi </p>
</div>

