@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    List<SelectListItem> listBulan = new List<SelectListItem>();
    listBulan.Add(new SelectListItem
    {
        Text = "-- Pilih Bulan --",
        Value = "0",
        Selected = true
    });
    listBulan.Add(new SelectListItem
    {
        Text = "JANUARI",
        Value = "1",

    });
    listBulan.Add(new SelectListItem
    {
        Text = "FEBRUARI",
        Value = "2",
    });
    listBulan.Add(new SelectListItem
    {
        Text = "MARET",
        Value = "3",
    });listBulan.Add(new SelectListItem
    {
        Text = "APRIL",
        Value = "4",
    });listBulan.Add(new SelectListItem
    {
        Text = "MEI",
        Value = "5",
    });listBulan.Add(new SelectListItem
    {
        Text = "JUNI",
        Value = "6",
    });listBulan.Add(new SelectListItem
    {
        Text = "JULI",
        Value = "7",
    });listBulan.Add(new SelectListItem
    {
        Text = "AGUSTUS",
        Value = "8",
    });listBulan.Add(new SelectListItem
    {
        Text = "SEPTEMBER",
        Value = "9",
    });listBulan.Add(new SelectListItem
    {
        Text = "OKTOBER",
        Value = "10",
    });listBulan.Add(new SelectListItem
    {
        Text = "NOVEMBER",
        Value = "11",
    });listBulan.Add(new SelectListItem
    {
        Text = "DESEMBER",
        Value = "12",
    });

}
<section class="content-header">
    <h1>DASHBOARD</h1>

</section>
<section class="content">


    <section class="content">
        <div class="callout callout-warning">
            <h4>DASHBOARD LAUNDRY MONITORING  </h4>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filter Dashboard</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-1 control-label">Bulan</div>
                            <div class="col-sm-2">

                                @Html.DropDownList("bulan", listBulan, new { @class = "form-control", placeholder = "Bulan" })
                            </div>
                            <div class="col-sm-1 control-label">Tahun</div>
                            <div class="col-sm-1">
                                @Html.TextBox("tahun", null, new { id = "tahun", @class = "form-control", placeholder = "Tahun", @value = 0, @type = "number", required = "required" })
                            </div>
                            <button type="button" onclick="ViewData()" class="btn btn-success" data-toggle="modal" data-target="">
                                &nbsp;<i class="fa fa-search-plus"></i>
                                View&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- /.col (LEFT) -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Receivable</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="AR" style="height: 300px; position: relative;"></div>
                    </div>
                </div>



            </div>
            <!-- /.col (RIGHT) -->
            <div class="col-md-4">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Payable</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="AP" style="height: 300px; position: relative;"></div>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <!-- BAR CHART -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sales By Branch</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="bar-chart" style="height: 300px;"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <!-- /.col (LEFT) -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Receivable</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">


                        <div class="clearfix">
                            <span class="pull-left">Sales</span>
                            <small class="pull-right">75%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 75%">75%</div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Delivery</span>
                            <small class="pull-right">15%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 15%">15%</div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Delivery</span>
                            <small class="pull-right">95%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 95%">95%</div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- /.col (LEFT) -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sales By Service</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>

                    </div>

                    <div class="box-body chart-responsive">


                        <div class="clearfix">
                            <span class="pull-left">Sales</span>
                            <small class="pull-right">75%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 75%">75%</div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Delivery</span>
                            <small class="pull-right">15%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 15%">15%</div>
                        </div>

                        <div class="clearfix">
                            <span class="pull-left">Delivery</span>
                            <small class="pull-right">95%</small>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 95%">95%</div>
                        </div>


                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <!-- /.col (LEFT) -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Receivable</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    @*<div class="box-body chart-responsive">
                    <div class="chart" id="AR" style="height: 300px; position: relative;"></div>
                </div>*@
                </div>
            </div>

        </div>




            @*<div class="col-md-4">
                <p class="text-center">
                    <strong>Goal Completion</strong>
                </p>
                <div class="progress-group">
                    Add Products to Cart
                    <span class="float-right"><b>160</b>/200</span>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: 80%"></div>
                    </div>
                </div>

                <div class="progress-group">
                    Complete Purchase
                    <span class="float-right"><b>310</b>/400</span>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" style="width: 75%"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <span class="progress-text">Visit Premium Page</span>
                    <span class="float-right"><b>480</b>/800</span>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-success" style="width: 60%"></div>
                    </div>
                </div>

                <div class="progress-group">
                    Send Inquiries
                    <span class="float-right"><b>250</b>/500</span>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: 50%"></div>
                    </div>
                </div>

            </div>*@

    </section>
</section>


@*jQuery 3*@
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
@*Bootstrap 3.3.7*@
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
@*Morris.js charts*@
<script src="~/bower_components/raphael/raphael.min.js"></script>
<script src="~/bower_components/morris.js/morris.min.js"></script>
@*FastClick*@
<script src="~/bower_components/fastclick/lib/fastclick.js"></script>
@*AdminLTE for demo purposes*@
<script src="~/dist/js/demo.js"></script>
@*page script*@

<script>
   

    function ViewData() {
        "use strict";
        var _tahun = $('#tahun').val();

        if (_tahun == '') {
            alert('Tahun Harus diisi!');
        }
        else {
        
            Get_AR_ByBranch(function (data) {
                var AR = new Morris.Donut({
                    element: 'AR',
                    resize: true,
                    colors: ["#f56954", "#00a65a", "#3c8dbc"],
                    data: data,
                    hideHover: 'auto'
                });
            });

            Get_AP_ByBranch(function (data) {
                var AR = new Morris.Donut({
                    element: 'AP',
                    resize: true,
                    colors: ["#00a65a", "#3c8dbc", "#f56954" ],
                    data: data,
                    hideHover: 'auto'
                });
            });

            Get_Sales_ByBranch(function (data) {
                var bar = new Morris.Bar({
                    element: 'bar-chart',
                    resize: true,
                    data: data,
                    barColors: ['#00a65a'],
                    xkey: ['label'],
                    ykeys: ['value'],
                    labels: ['Branch'],
                    hideHover: 'auto'
                });
                //var bar = new Morris.Bar({
                //    element: 'bar-chart',
                //    resize: true,
                //    data: [
                //        { y: '2006', a: 100},
                //        { y: '2007', a: 75},
                //        { y: '2008', a: 50},
                //        { y: '2009', a: 75},
                //        { y: '2010', a: 50},
                //        { y: '2011', a: 75},
                //        { y: '2012', a: 100}
                //    ],
                //    barColors: ['#00a65a'],
                //    xkey: 'y',
                //    ykeys: ['a'],
                //    labels: ['CPU'],
                //    hideHover: 'auto'
                //});
            });

        }

    }

    function Get_AR_ByBranch(callback) {
        var _bulan = $('#bulan').val();
        var _tahun = $('#tahun').val();
        return $.ajax({
            type: "post",
            url: "/Dashboard/GetARByBranch?bulan=" + _bulan + "&tahun=" + _tahun,
            data: "[]",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                callback(data);
            },
            error: function () { }
        });
    }

    function Get_AP_ByBranch(callback) {
        var _bulan = $('#bulan').val();
        var _tahun = $('#tahun').val();
        return $.ajax({
            type: "post",
            url: "/Dashboard/GetAPByBranch?bulan=" + _bulan + "&tahun=" + _tahun,
            data: "[]",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                callback(data);
            },
            error: function () { }
        });
    }

    function Get_Sales_ByBranch(callback) {
        var _bulan = $('#bulan').val();
        var _tahun = $('#tahun').val();
        return $.ajax({
            type: "post",
            url: "/Dashboard/GetSALESByBranch?bulan=" + _bulan + "&tahun=" + _tahun,
            data: "[]",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                callback(data);
            },
            error: function () { }
        });
    }
</script>






